*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

/* left spacing from the browser */
body > * {
    padding-left: 2.75vw !important;
}

ul {
    list-style-type: none;
}



/* ==== Navigation ==== */
.navigation {
  display: flex;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding: 0.4rem 2.75vw;
}

.logo {
    width: 100px;
}

.navigation__mainMenu {
    display: flex;
    margin-left: 2rem;
}

.navigation__mainMenu-item {
    margin-right: 1.2rem;
    font-size: 0.9rem;
}

.navigation__mainMenu-link  {
  color: #e5e5e5;
  text-decoration: none;
  transition: color 0.4s;
}

.navigation__mainMenu-link:hover,
.navigation__mainMenu-link:focus {
    color: #b3b3b3;
}

.mainMenu-link--active {
  color: #fff;
  font-weight: 700;
}

.mainMenu-link--active:hover,
.mainMenu-link--active:focus {
    color: #fff;
    cursor: default;
}



.navigation__secondaryMenu {
    display: flex;
    align-items: center;
    flex: 1 1 auto; /* flex: grow shrink basis */
    justify-content: flex-end;
}

.navigation__secondaryMenu-item {
    margin-left: 1.75rem;
}

.navigation__secondaryMenu-btn {
    background-color: transparent;
    color: #fff;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.138rem;
}

.secondaryMenu-kidsLink {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.navigation__secondaryMenu-item:last-child > button,
.navigation__secondaryMenu-item:last-child button img {
    display: block;
}

.navigation__secondaryMenu-item:last-child img {
    border-radius: 4px;
}

.navigation__secondaryMenu-item:last-child {
    position: relative;
}

.navigation__secondaryMenu-btnProfile {
    position: relative;
    padding-right: 20px;
}

.navigation__secondaryMenu-btnProfile::after {
    content: "";
    position: absolute;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* ===> Dropdowns  */


.btnProfile__dropdown {
    position: absolute;
    right: 0;
    top: 100%;  
    display: none;
}


.btnProfile__dropdown-content {
    background-color: rgba(0, 0, 0, 0.8);
    width: 11.5rem; 
    border: 1px solid rgb(100, 100, 100);
    font-size: 0.85rem; 
    margin-top: 1.4rem;
    position: relative;
}

.btnProfile__dropdown-content::before {
    content: "";
    position: absolute;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: calc(100% + 2px);
    right: 16%;
}

.btnProfile__dropdown-content > * {
    padding: 0.75rem;
}

.btnProfile__dropdown-content > * + * {
    border-top: 1px solid rgb(100, 100, 100);
}

.profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.profile-link span {
    margin-left: 0.5rem;
}

.btnProfile__dropdown-account ul li{
    margin-bottom: 0.7rem;
    font-weight: 700;
}

.btnProfile__dropdown-account ul li:last-child {
    margin: 0;
}

.navigation__secondaryMenu-item:last-child:hover .btnProfile__dropdown {
    display: block;
}

.btnProfile__dropdown-kids {
    display: none;
    text-transform: capitalize;

}

.btnProfile__dropdown-content a {
    color: #fff;
    text-decoration: none;
}

.btnProfile__dropdown-content a:hover {
text-decoration: underline;
}

@media (max-width: 74.9375em){
    .navigation__mainMenu-item {
        font-size: 0.75rem;
    }
}

@media(max-width:71.8125em){
    .navigation__mainMenu {
		margin-left:1rem;
    }
}

@media(max-width: 68.75em) {
    .navigation__secondaryMenu-item:nth-child(2) {
        display: none;
    }

	.btnProfile__dropdown-kids {
		display: block;
	}
}

@media(max-width: 59.3125em) {
    .navigation {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        width: 70px;
    }

    .navigation__secondaryMenu-btnProfile::after {
        display: none;
    }

    .navigation__mainMenu-item {
        font-size: 0.63rem;
    }

    .navigation__secondaryMenu-item > button {
        font-size: 0.9rem;
    }

}

@media (min-width: 55.25em) {

}

















