*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

/* left spacing from the browser */
body > * {
    padding-left: 2.75vw !important;
}

ul {
    list-style-type: none;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding: 0.4rem 2.75vw;
}

.logo {
    width: 100px;
}

.navigation__mainMenu {
    display: flex;
    margin-left: 2rem;
}

.navigation__mainMenu-item {
    margin-right: 1.2rem;
    font-size: 0.9rem;
}

.navigation__mainMenu-link  {
  color: #e5e5e5;
  text-decoration: none;
  transition: color 0.4s;
}

.navigation__mainMenu-link:hover,
.navigation__mainMenu-link:focus {
    color: #b3b3b3;
}

.mainMenu-link--active {
  color: #fff;
  font-weight: 700;
}

.mainMenu-link--active:hover,
.mainMenu-link--active:focus {
    color: #fff;
    cursor: default;
}



.navigation__secondaryMenu {
    display: flex;
    align-items: center;
    flex: 1 1 auto; /* flex: grow shrink basis */
    justify-content: flex-end;
}

.navigation__secondaryMenu-item {
    margin-left: 1.75rem;
}

.navigation__secondaryMenu-btn {
    background-color: transparent;
    color: #fff;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.138rem;
}

.secondaryMenu-kidsLink {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.navigation__secondaryMenu-item:last-child img {
    border-radius: 4px;
}


.navigation__secondaryMenu-btnProfile {
    position: relative;
    padding-right: 20px;
}

.navigation__secondaryMenu-btnProfile::after {
    content: "";
    position: absolute;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    

}




.dropdown-container {
    display: none;
}



















